/** General Style **/ 

.section-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
}

.line {
    width: 50px;
    border-top: 3px solid #222222;
}


/** Menu Style **/

header {
	padding: 10px 0;
	z-index: 9;
    background: rgba(255, 255, 255, 0.88);
    position: fixed;
    width: 100%;
    box-shadow: 0 0 20px 5px rgba(50,50,50,0.12);
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
	font-size: 20px;
	padding-left: 15px;
    padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}

.navbar-light .navbar-toggler {
	border: 0;
}

.navbar-brand {
	font-size: 35px;
    padding: 0;
    line-height: 30px;
}

.navbar-collapse{
    justify-content: flex-end;
}

.navbar-toggler:focus {
	outline: 0;
}

.navbar-toggler .line{
	width: 30px;
    height: 3px;
    background: #000;
    display: block;
    border-radius: 4px;
}

.first-line,
.second-line {
	margin-bottom: 4px;
}

header.shrink {
    padding: 0;
}

.shrink .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
}

.navbar-toggler .first-line.active {
    transform: rotate(45deg);
    margin-bottom: -5px;
}

.navbar-toggler .third-line.active {
    transform: rotate(-45deg);
    margin-top: -5px;
}

.navbar-toggler .second-line.active {
    transform: scale(0);
}


/** Slider Style **/

.slider-item {
	height: 100vh;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/** Slick Dots Style **/

.slick-dots {
	padding: 0;
    margin: 0;
    z-index: 9;
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	text-indent: -99999px;
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.25);
    outline: 0;
    cursor: pointer;
}


/** Slick Arrows Style **/

.slick-arrow {
	position: absolute;
    top: 50%;
    z-index: 9;
    text-indent: -99999px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    outline: 0;
}

.slick-arrow:focus {
	outline: 0;
}

.slick-prev {
	left: 30px;
	background-image: url('../images/prev.png');
	background-repeat: no-repeat;
    width: 40px;
    height: 69px;
}

.slick-next {
	right: 30px;
	background-image: url('../images/next.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 69px;
}

.slider-overlay {
	height: calc(100% - 82px);
    background: rgba(0, 0, 0, 0.25);
    margin-top: 82px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-overlay h2 {
	font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.slider-overlay hr {
	border-top: 2px solid #fff;
    height: 2p;
    width: 50px;
    margin: 20px auto;
}

.slider-overlay p {
	color: #fff;
    font-size: 18px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
}

.line {
    width: 50px;
    border-top: 3px solid #222222;
}

/** Introduction Section Style **/
.introduction {
	padding: 80px 0;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.introduction p {
	font-size: 18px;
    margin-bottom: 0;
    color: #222222;
}

.parallax{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    
}

.creativity{
    background-image: url('../images/bg-img.jpg')
}

.parallax-overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.parallax-overlay a{
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 55px;
    font-size: 20px;
    text-decoration: none;
}

.parallax-overlay a:hover{
    color: #222;
    background-color: #fff;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

/** Our Work Section Style **/
.our-work {
    text-align: center;
    padding: 50px 0;
}
.parallax.help{
    background-image: url('../images/help-bg.jpg');
}

/** Clients Section Style **/
.clients {
    padding: 80px 0;
    background: #F4F4F4;
}

.clients-logos li {
    list-style-type: none;
    display: inline-block;
}

.clients-logos {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.clients-logos li img {
filter: grayscale(100%);
height: 50px;
width: auto;
}
.clients-logos li img:hover {
    filter: grayscale(0%);
cursor: pointer;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    }


/** Members Section Style **/
.members-section-intro {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

.member-item,
.apply {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.member-item img {
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
}

.apply-content {
    border: 2px solid #222;
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.apply-content a {
    border: 2px solid #222;
    color: #222;
    text-decoration: none;
    padding: 3px 20px 6px 20px;
    display: inline-block;
}

.item-overlay {
    position: absolute;
    width: calc(100% - 15px);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.item-overlay .fab {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #fff;
    font-size: 15px;
}

.member-details {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
    color: #fff;
}

.member-details h3 {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.member-details span {
    font-size: 11px;
}

.member-item:hover .item-overlay {
    opacity: 1;
}    

/** Video Section **/
.video {
    padding: 50px 0;
}


/** Choose Us Section **/
.choose-us {
    text-align: center;
    padding-bottom: 50px;
}

.choose-us-intro {
    max-width: 700px;
    margin: 0 auto;
}

.choose-us-slider {
    padding: 50px 0;
}

.choose-us-slider .slick-dots {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.choose-us-slider .slick-dots li {
    display: inline-block;
}

.choose-us-slider .slick-dots li button {
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: transparent;
    margin: 0 5px;
    padding: 0;
    outline: 0;
}

.choose-us-slider ._slide {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 30px;
}

.choose-us-slider ._slide img {
    margin: 0 auto;
}


/** Contact Section Style **/


.contact-info {
    background: #F2F2F2;
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-info ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.contact-info li {
    list-style-type: none;
}

.contact-info h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
}

.social-link li {
    list-style-type: none;
    display: inline-block;
}

.social-link .fab {
    font-size: 20px;
    color: #000;
    margin-right: 5px;
}

/** Contact form style **/
.contact-form {
    background: #E4E4E4;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.contact-form input[type="text"],
.contact-form input[type="email"]{
width:45%;
border: 0px;
outline: 0px;
border-bottom: 1px solid grey;
background: transparent;
margin-bottom: 20px;
margin-right: 5%;
float: left;
}

.contact-form textarea {
    width: 95%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid grey;
    outline: 0;
    height: 100px;
}

/* Map section*/
#map{
    height:400px;
}

/***** Site Footer *****/
.site-footer {
    background: #222222;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.site-footer p {
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
}

/** Our Work Section Style **/
.our-work {
    text-align: center;
    padding: 50px 0;
}

.element-item {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 15px;
}

.element-item img {
    width: 100%;
    height: auto;
}

.button-group {
    padding-bottom: 30px;
}

.button-group button {
    background: transparent;
    border: 0;
    text-transform: uppercase;
    font-size: 13px;
    color: grey;
    font-weight: bold;
    outline: 0;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.button-group button:hover,
.button-group button:focus {
    color: #222;
    cursor: pointer;
}